@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


body{
  font-family: Poppins;
  margin: 0;
  padding: 0;
}
.main-header{
  display: flex;
  margin: 20px auto;
  justify-content: space-between;
  margin: 0 30px;
  align-items: center;
}
.header-logo{
  font-size: 25px;
}
.header-logo a{
  color: #3A3A3A;
  text-decoration: none;
}
.nav-item-main{
  display: flex;
  gap: 20px;
}
.nav-item-main li{
  list-style: none;
}
.nav-item-main a{
  text-decoration: none;
  color: #3A3A3A;
  font-size: 14px;
  font-weight: 400;
}
.nav-icon{
  display: flex;
  align-items: center;
  gap: 20px;
}
.banner{
  display: flex;
  justify-content: space-between;
  margin: 40px 30px;
}
.banner-left-section{
  width: 50%; 
}
.banner-right-section{
  width: 50%; 
}
.banner-title{
  color: #3A3A3A;
  font-weight: bold;
  font-size: 40px;
}
.banner-title{
  font-size: 45px;
  font-weight: bold;
  color: #3A3A3A;
  margin-bottom: 10px;
}
.banner-left-section p{
  color: #3A3A3A;
  font-size: 15px;
  width: 80%;
}
.img-container{
   display: flex;
  align-items: center;
  background-image: url("images/Circle\ design.svg");
  background-size: cover;
  width: 100%;
}
.banner-main-img{
  padding: 30px;
  width: 95%;
}
.company-name{
  display: none;
  /* border: 1px solid rgba(128, 128, 128, 0.507); */
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 95%;
  margin: 40px auto;
  border-radius: 10px;
  box-shadow: 1px 1px 11px rgba(255, 0, 0, 0.479);
}
.company-name img{
  display: none;
  height: 100%;
  margin: 20px auto;

}
/* all responsive style  */
@media screen and (max-width: 576px) {
 .main-header{
   flex-direction: column;
   align-items: center;
   text-align: center;
}
.banner{
 flex-direction: column-reverse;
 width: 100%;
 margin: 20px auto;
 align-items: center;
 justify-content: center;
}
.banner-left-section, .banner-title, p{
 width: 100%; 
 text-align: center; 
 font-size: 8vw;
}
.banner-left-section p{
  width: 100%;
}
.banner-right-section{
 width: 100%;
}
.img-container{
 background-repeat: no-repeat;
 background-size: contain;
 justify-content: center;
}

}



@media screen and (min-width: 576px) and (max-width: 992px) {
 .main-header{
   flex-direction: column;
   align-items: center;
   text-align: center;
}
}
/* min auto width  */
@media screen and (min-width: 1240px) {
 .main-header{
   margin: 0 auto;
   justify-content: space-around;
}
}